<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.renting.dao.Hos_streetMapper">
	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<select id="seleStreetId" resultType="Hos_street" useCache="true">
		SELECT * FROM `hos_street` WHERE `sDid` = #{sdid}
	</select>
</mapper>
